<!-- -*- xml -*- -->
<!--
   Record HRP-2 data automatically in three separate rosbags:
   - cameras images
   - hrpsys information (IMU, force sensors, robot position)
   - diagnostics (node output, diagnostics)
  -->

<launch>
  <!-- <arg name="record_cameras" default="true" /> -->
  <!-- <arg name="record_state" default="true" /> -->
  <arg name="all_data" default="false" />
  <!-- <arg name="bag_path" default="/home/bespin"/> -->
  <arg name="obj" default="right"/>

  <arg name="bag_path" default="/home/hair/catkin_ws_teleoperation/src/virtuose_teleoperation/record/TRANSLATIONS_SECOND_ATTEMPT"/>

  <arg name="mode" default="single"/>

 <!-- Are we on the robot (hrp2_14) or simulating (sim)? -->
 <!-- <arg name="robot_machine_profile" default="hrp2_14" /> -->

 <!-- Load the robot model and machine description -->
 <!-- <include file="$(find hrp2_bringup)/launch/common.launch"> -->
   <!-- <arg name="robot_machine_profile" value="$(arg robot_machine_profile)" /> -->
 <!-- </include> -->

 <node pkg="rosbag" type="record" name="rosbag_record_EVERYTHING"
       args="record -o $(arg bag_path)/$(arg obj) /out_virtuose_physical_pose /relaxed_ik/ee_pose_goals /relaxed_ik/joint_angle_solutions "
       if="$(arg all_data)" />

 <node pkg="rosbag" type="record" name="rosbag_record_out_virtuose_physical_pose_forward"
       args="record -o $(arg bag_path)/$(arg obj)__out_virtuose_physical_pose /out_virtuose_physical_pose"
       unless="$(arg all_data)" />

 <node pkg="rosbag" type="record" name="rosbag_record_relaxed_ik_ee_pose_goals"
       args="record -o $(arg bag_path)/$(arg obj)__relaxed_ik_ee_pose_goals /relaxed_ik/ee_pose_goals"
       unless="$(arg all_data)" />

 <node pkg="rosbag" type="record" name="rosbag_record_relaxed_ik_joint_angle_solutions"
       args="record -o $(arg bag_path)/$(arg obj)__relaxed_ik_joint_angle_solutions /relaxed_ik/joint_angle_solutions"
       unless="$(arg all_data)" />   
</launch>