<launch>
    <!-- Use `anon` to generate a unique name for the bag file -->
    <arg name="unique_id" default="$(anon unique_bag_id)"/>

    <node pkg="rosbag" type="record" name="the_recorder" args="
        /stiffness_detection
        /crisp_merged_poses 
        /Crisp_IN_2HGlove 
        /Crisp_MID_2HGlove 
        /Crisp_RING_2HGlove 
        /Crisp_TH_2HGlove 
        /allegroHand_0/joint_states 
        /relaxed_ik/ee_pose_goals 
        /ur5/tf 
        /in_index_force 
        /in_middle_force 
        /in_thumb_force 
        /in_virtuose_force 
        /xServTopic 


        <!-- -O /home/hair/stiffness_estimation/ys/ys_$(arg unique_id)" > -->
        <!-- -O /home/hair/stiffness_estimation/us/us_$(arg unique_id)" > -->
        <!-- -O /home/hair/stiffness_estimation/brick/brick_$(arg unique_id)" > -->
        <!-- -O /home/hair/stiffness_estimation/tom/tom_$(arg unique_id)" > -->
        <!-- -O /home/hair/stiffness_estimation/rice/rice_$(arg unique_id)" > -->
        <!-- -O /home/hair/stiffness_estimation/no_contact/no_contact_$(arg unique_id)" > -->

        <param name="buffer_size" value="16384"/> 
        <param name="chunk_size" value="4096"/>
    </node>
</launch>
